include ../utils/mixins
block variables

doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title #{title}
    meta(name="description", content=description)

  body(class=pageClass)
    include ../includes/modules/header
    .wrapper
      #app
        .content-wrapper
          block content
          example-component
    include ../includes/modules/footer
    
    block script
      script(type="text/javascript").
        foo = true;
        bar = function () {};
        if (foo) {
        bar(1 + 5)
        }
        console.log(bar());