
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!--
  Не нужно подключать файлы, т.к. плагин сам подключает
  <link rel="stylesheet" href="/assets/css/app.css">
  <script src="/assets/js/app.js"></script>
  -->
  <!-- https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs -->
  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>">
  <% } %>
  <title><%= htmlWebpackPlugin.options.title || 'Empty title' %></title>
</head>
<body>
  <div id="app">
    <div class="container">
      <!--<example-component></example-component>-->
      <buefy-navbar></buefy-navbar>
      <router-view></router-view> <!-- Для отображения того, что у нас меняется в router -->
      <!--<auth-modal></auth-modal>-->
      <!--<example-button @click="exampleButtonClick">Нажать!</example-button>-->
    </div>  
  </div>
  <% for (var js in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
  <% } %>
  <script src="https://use.fontawesome.com/a304bad23c.js"></script>
</body>
</html>
